    
</div>
<hr>
<div class="hcent">
You can find me on <a href="https://twitter.com/simon_rolph" target="_blank">Twitter</a>, <a href="https://www.youtube.com/channel/UCMhL2zYYdpmicqLPByJpb9g" target="_blank">Youtube</a>, <a href="https://github.com/simonrolph" target="_blank">GitHub</a>. <!--and you can email me at <a href="mailto:srolph1@sheffield.ac.uk" target="_blank">srolph1@sheffield.ac.uk</a>.-->
</div>

<footer>
      {{ partial "foot_custom.html" . }}
      {{ with .Site.Params.footer }}
      <hr/>
      {{ . | markdownify }}
      {{ end }}
        
        <script src="{{ "/js/jquery.min.js" | relURL }}"></script>
        <script src="{{ "/js/bootstrap.bundle.min.js" | relURL }}"></script>
    <script>
    $('a').each(function() {
   var a = new RegExp('/' + window.location.host + '/');
   if(!a.test(this.href)) {
       $(this).click(function(event) {
           event.preventDefault();
           event.stopPropagation();
           window.open(this.href, '_blank');
       });
   }
});
    </script>
        
    </footer>

  </body>
</html>
