{{ partial "header.html" . }}

<div class="container">

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}



{{ .Content }}



{{ range (where .Data.Pages "Section" "!=" "about") }}

    
<div class="row register" >
<div class="col-md-4">
    <img class="shadowed" src="{{ relURL (print "/img/thumbs/" .Params.image ) }}">
</div>
    
    
 
    <div class="col-md-8 register">
    
    
        {{ .Date.Format "2006/01/02" }} <span class="badge badge-secondary">{{ if eq .Section "blog_post" }}<i class="fas fa-comment-alt"></i> Blog Post{{ end }}{{ if eq .Section "field_note" }}<i class="fas fa-leaf"></i> Field Note{{ end }}{{ if eq .Section "code_note" }}<i class="fas fa-code"></i> Code Note
        {{ end }} </span>
        
<a href="{{ .URL }}">
    <h4> {{ .Title }} </h4>
        </a>
        <p>{{ .Params.subtitle }}</p>
        <p><small>Tagged:
        {{ range $i := .Params.tags }}
        <a href="{{ relURL (print "/tags/" $i | urlize) }}">{{$i}}</a>
            
        
        {{end}}
            </small></p>

        
        
        
        
        
    
    </div>
</div>
<br>
     
    {{ end }}
    





{{ partial "footer.html" . }}
