{{ partial "header.html" . }}

<div class="container">

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}



{{ .Content }}

{{ range (where .Data.Pages "Section" "!=" "about") }}

    
<div class="row register" >
<div class="col-md-4">
    
    {{ .Params.image }}
</div>
    
    
 
    <div class="col-md-8 register">
    
    <a href="{{ .URL }}">
        {{ .Date.Format "2006/01/02" }} <span class="badge badge-secondary">{{ if eq .Section "blog_post" }}<i class="fas fa-comment-alt"></i> Blog Post{{ end }}{{ if eq .Section "field_note" }}<i class="fas fa-leaf"></i> Field Note{{ end }}{{ if eq .Section "code_note" }}<i class="fas fa-code"></i> Code Note
        {{ end }} </span>
        

    <h4> {{ .Title }} </h4>
        </a>
        
        <p>Tagged:
        {{ range $i := .Params.tags }}
        <a href="{{ relURL (print "/tags/" $i | urlize) }}">{{$i}}</a>
            
        
        {{end}}
            </p>

        
        
        <p>{{ .Params.subtitle }}</p>
        
        
    
    </div>
</div>
     
    {{ end }}





{{ partial "footer.html" . }}
