{{ partial "header.html" . }}

<div class="container">

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}



{{ .Content }}

<div class="row">
<div class="col-md">
<h3>Code Notes</h3>

<ul>
  {{ range (where .Data.Pages "Section" "=" "code_note") }}
  <li>
      
    <a href="{{ .URL }}">{{ .Title }}</a>
      
  </li>
  {{ end }}
</ul>
    
    
  </div>
  <div class="col-md">
    <h3>Field Notes</h3>
    
    
    <ul>
  {{ range (where .Data.Pages "Section" "=" "field_note") }}
  <li>
    <a href="{{ .URL }}">{{ .Title }}</a>
      {{ .Params.image }}
      {{ .Params.Subtitle }}
      
  </li>
  {{ end }}
</ul>
    
    
  </div>
  <div class="col-md">
    <h3>Blog</h3>
    
    <ul>
  {{ range (where .Data.Pages "Section" "=" "blog_post") }}
  <li>
      
    <a href="{{ .URL }}">{{ .Date.Format "2006/01/02" }} - {{ .Title }}</a>
      
      
  </li>
  {{ end }}
</ul>
    
    
  </div>
  
  
</div>





{{ partial "footer.html" . }}
